@model List<TeknolojiMagazasi.Model.Marka>

@{
    ViewBag.Title = "Listele";
}

<section class="py-5"></section>
<section class="py-5"></section>

<section class="text-center">
    <div class="container">
        <h2>Marka Listele</h2>
    </div>
</section>

<section class="py-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="">
                    <a href="@Url.Action("Ekle")" class="btn btn-primary ">Ekle</a>
                </div>
                <br />
                <br />
                <table class="table">
                    <tr>
                        <th>Id</th>
                        <th>Ad</th>
                        <th></th>
                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.Ad</td>
                            <td>
                                <a href="@Url.Action("Sil", new { id = item.Id })" class="btn btn-danger btn-xs">Sil</a>
                                <a href="@Url.Action("Duzenle", new { id = item.Id })" class="btn btn-info btn-xs">Düzenle</a>
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</section>