@model List<TeknolojiMagazasi.Model.SatısDetay>

@{
    ViewBag.Title = "Satış Detay Listele";
}

<section class="py-5"></section>
<section class="py-5"></section>

<section class="text-center">
    <div class="container">
        <h2>Satış Detay</h2>
        <hr />
    </div>
</section>

<section class="py-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <table class="table">
                    <tr>
                        <th>Id</th>
                        <th>Urun</th>
                        <th>Adet</th>
                        <th>Tutar</th>
                        <th></th>
                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@((item.Urun == null)?"Yok" : item.Urun.Ad)</td>
                            <td>@item.Adet</td>
                            <td>@item.Tutar.ToString("C")</td>
                            <td>
                                <a href="@Url.Action("Sil", new { id = item.Id })" class="btn btn-danger btn-xs">Sil</a>

                            </td>
                        </tr>
                    }
                </table>
                <a href="@Url.Action("Listele")">Geri</a>
             </div>
           </div>
         </div>
</section>